@import url('http://fonts.googleapis.com/css?family=Open+Sans');
#conteudo{
	width: 100%;
	height: 200px;
	background-color: #F5F5DC;
}
#conteudo h1{
	font-family: 'Open Sans', Tahoma, Arial, sans-serif;
	margin-left: 35px;
}

#mostra{
   width: 100%;
   height: 400px;
   background-color: #F5F5DC;
   border: 1px solid black;
   font-family: 'Open Sans', Tahoma, Arial, sans-serif;
   float:left;
}
select#soflow{
   -webkit-appearance: button;
   -webkit-border-radius: 2px;
   -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
   -webkit-padding-end: 20px;
   -webkit-padding-start: 2px;
   -webkit-user-select: none;
   background-image: url(http://i62.tinypic.com/15xvbd5.png), -webkit-linear-gradient(#FAFAFA, #F4F4F4 40%, #E5E5E5);
   background-position: 97% center;
   background-repeat: no-repeat;
   border: 1px solid #AAA;
   color: #555;
   font-size: inherit;
   margin: 20px;
   overflow: hidden;
   padding: 5px 10px;
   text-overflow: ellipsis;
   white-space: nowrap;
   width: 300px;
}

input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=email], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=date], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}


#pesquisa button{
   border: solid 2px #2196F3; /* Remove borders */
    color: white; /* Add a text color */
    padding: 14px 28px; /* Add some padding */
    cursor: pointer; /* Add a pointer cursor on mouse-over */
    font-family: 'Open Sans';
    background-color: #2196F3;
    font-family: 'Open Sans', Tahoma, Arial, sans-serif;
   float:left;
}


#mostra button{
   border: solid 2px #2196F3; /* Remove borders */
    color: white; /* Add a text color */
    padding: 14px 28px; /* Add some padding */
    cursor: pointer; /* Add a pointer cursor on mouse-over */
    font-family: 'Open Sans';
    background-color: #2196F3;
    font-family: 'Open Sans', Tahoma, Arial, sans-serif;
}

#pessoas caption{
   border-bottom: 1px solid grey;
}

span#alt.btn-alt{
   background-color: black;
   width: 10px;
   height: 20px;
   display: inline-block;
}